useDynLib(cts)
export(car, tsdiag, factab, kalsmo, kalsmoComp, spectrum, plotSpecCar, plotSpecLs, spec.ls, car_control, spec.ci)
exportClasses("car")
exportMethods("show")

S3method(plot, car)
S3method(print, car)
S3method(summary, car)
S3method(predict, car)
S3method(tsdiag, car)
S3method(spectrum, car)
S3method(AIC, car)
S3method(kalsmo, car)
S3method(print, factab)

